<h1 class="text-center">Novi zahtev za priznanje patenta</h1>
<div class="form-cont">
    <mat-stepper #stepper>

        <mat-step [stepControl]="podnosiocZahteva" label="Podnosioc prijave">
            <form [formGroup]="podnosiocZahteva">
                <div class="row" >
                    <mat-form-field class=col appearance="fill" required>
                        <mat-label>Ime i prezime/poslovno ime</mat-label>
                        <input matInput type="text" formControlName="ime">
                    </mat-form-field>
                    <mat-form-field class=col appearance="fill" required >
                        <mat-label>Telefonski broj</mat-label>
                        <input matInput type="text" formControlName="telefon">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col appearance="fill" required>
                        <mat-label>E-mail adresa</mat-label>
                        <input matInput type="text" formControlName="eMail">
                    </mat-form-field>
                    <mat-form-field class=col appearance="fill" required>
                        <mat-label>Faks</mat-label>
                        <input matInput type="text" formControlName="faks">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col-8 appearance="fill" required>
                        <mat-label>Ime ulice</mat-label>
                        <input matInput type="text" formControlName="ulica">
                    </mat-form-field>
                    <mat-form-field class=col-4 appearance="fill" required>
                        <mat-label>Broj ulice</mat-label>
                        <input matInput type="text" formControlName="brojUlice">
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field class=col-3 appearance="fill" required>
                        <mat-label>Postanski br.</mat-label>
                        <input matInput type="text" formControlName="postanskiBroj">
                    </mat-form-field>
                    <mat-form-field class=col-5 appearance="fill" required>
                        <mat-label>Mesto</mat-label>
                        <input matInput type="text" formControlName="mestoPrebivalista">
                    </mat-form-field>
                    <mat-form-field class=col-4 appearance="fill" required>
                        <mat-label>Drzava</mat-label>
                        <input matInput type="text" formControlName="drzavaPrebivalista">
                    </mat-form-field>

                    <!-- ALI ovo samo za fizicka lica!!!! -->
                    <mat-form-field class=col-4 appearance="fill" required>
                        <mat-label>Drzavljanstvo</mat-label>
                        <input matInput type="text" formControlName="drzavljanstvo">
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="col-4">
                        <mat-checkbox class="zaj-pred-checkbox" (change)="theSamePerson()">Podnosilac je i pronalazac</mat-checkbox>
                    </div>
                </div> 

                <div class="text-center buttons-cont">
                    <button mat-button matStepperNext class="stepper-btn">Sledece</button>
                </div>
            </form>
        </mat-step>

<!-- ////////////////////////////////////// -->

        <mat-step [stepControl]="pronalazac" label="Pronalazac">
            <form [formGroup]="pronalazac">
                <div class="row" >
                    <mat-form-field class=col appearance="fill" required>
                        <mat-label>Ime i prezime</mat-label>
                        <input matInput type="text" formControlName="ime">
                    </mat-form-field>
                    <mat-form-field class=col appearance="fill" required >
                        <mat-label>Telefonski broj</mat-label>
                        <input matInput type="text" formControlName="telefon">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col appearance="fill" required>
                        <mat-label>E-mail adresa</mat-label>
                        <input matInput type="text" formControlName="eMail">
                    </mat-form-field>
                    <mat-form-field class=col appearance="fill" required>
                        <mat-label>Faks</mat-label>
                        <input matInput type="text" formControlName="faks">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col-8 appearance="fill" required>
                        <mat-label>Ime ulice</mat-label>
                        <input matInput type="text" formControlName="ulica">
                    </mat-form-field>
                    <mat-form-field class=col-4 appearance="fill" required>
                        <mat-label>Broj ulice</mat-label>
                        <input matInput type="text" formControlName="brojUlice">
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field class=col-3 appearance="fill" required>
                        <mat-label>Postanski br.</mat-label>
                        <input matInput type="text" formControlName="postanskiBroj">
                    </mat-form-field>
                    <mat-form-field class=col-5 appearance="fill" required>
                        <mat-label>Mesto</mat-label>
                        <input matInput type="text" formControlName="mestoPrebivalista">
                    </mat-form-field>
                    <mat-form-field class=col-4 appearance="fill" required>
                        <mat-label>Drzava</mat-label>
                        <input matInput type="text" formControlName="drzavaPrebivalista">
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <div class="col-4">
                        <mat-checkbox class="zaj-pred-checkbox" (change)="doesntWantToBeApointed()">Pronalazac ne zeli da bude naveden</mat-checkbox>
                    </div>
                </div> 

                <div class="text-center buttons-cont">
                    <button mat-button matStepperNext class="stepper-btn">Sledece</button>
                </div>
            </form>
        </mat-step>

<!-- ////////////////////////////////////// -->


        <mat-step [stepControl]="punomocnik" label="Punomocnik">
            <form [formGroup]="punomocnik">

                <div class="row" >
                    <mat-form-field class=col appearance="fill" required>
                        <mat-label>Ime i prezime/poslovno ime</mat-label>
                        <input matInput type="text" formControlName="ime">
                    </mat-form-field>
                    <mat-form-field class=col appearance="fill" required >
                        <mat-label>Telefonski broj</mat-label>
                        <input matInput type="text" formControlName="telefon">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col-6 appearance="fill" required>
                        <mat-label>E-mail adresa</mat-label>
                        <input matInput type="text" formControlName="eMail">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col-8 appearance="fill" required>
                        <mat-label>Ime ulice</mat-label>
                        <input matInput type="text" formControlName="ulica">
                    </mat-form-field>
                    <mat-form-field class=col-4 appearance="fill" required>
                        <mat-label>Broj ulice</mat-label>
                        <input matInput type="text" formControlName="brojUlice">
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field class=col-3 appearance="fill" required>
                        <mat-label>Postanski br.</mat-label>
                        <input matInput type="text" formControlName="postanskiBroj">
                    </mat-form-field>
                    <mat-form-field class=col-5 appearance="fill" required>
                        <mat-label>Mesto</mat-label>
                        <input matInput type="text" formControlName="mestoPrebivalista">
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="col-4">
                        <mat-checkbox class="zaj-pred-checkbox" (change)="forRepresentation()">Za zastupanje</mat-checkbox>
                    </div>
                    <div class="col-4">
                        <mat-checkbox class="zaj-pred-checkbox" (change)="forReception()">Za prijem pismena</mat-checkbox>
                    </div>
                </div> 


                <div class="text-center buttons-cont">
                    <button mat-button matStepperPrevious class="stepper-btn">Nazad</button>
                    <button mat-button matStepperNext class="stepper-btn">Sledece</button>
                </div>

            </form>
        </mat-step>


        <mat-step [stepControl]="podaciPatenta" label="Nazivi pronalaska">
            <form [formGroup]="podaciPatenta">
                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>Naziv na srpskom jeziku</mat-label>
                        <input matInput type="text" formControlName="naSrpskom">
                    </mat-form-field>
                    <mat-form-field class=col>
                        <mat-label>Naziv na engleskom jeziku</mat-label>
                        <input matInput type="text" formControlName="naEngleskom">
                    </mat-form-field>
                </div>              
                
                <div class="text-center buttons-cont">
                    <button mat-button matStepperPrevious class="stepper-btn">Nazad</button>
                    <button mat-button matStepperNext class="stepper-btn">Sledece</button>
                </div>
                
            </form>
        </mat-step> 

        <mat-step [stepControl]="podaciPosiljke" label="Podaci o posiljci">
            <form [formGroup]="podaciPosiljke">
                <div class="border" style="padding: 10px;">
                    <h4>Adresa za dostavljanje</h4>
                    <p><i>(Optional: If different from original address)</i></p>
                    <div class="row">
                        <mat-form-field class="col-8" appearance="fill" required>
                            <mat-label>Ime ulice</mat-label>
                            <input matInput type="text" formControlName="ulicaDostavljanje">
                        </mat-form-field>
                        <mat-form-field class="col-4" appearance="fill" required>
                            <mat-label>Broj ulice</mat-label>
                            <input matInput type="text" formControlName="brojUliceDostavljanje">
                        </mat-form-field>
                    </div>
                
                    <div class="row">
                        <mat-form-field class="col-3" appearance="fill" required>
                            <mat-label>Postanski br.</mat-label>
                            <input matInput type="text" formControlName="postanskiBrojDostavljanje">
                        </mat-form-field>
                        <mat-form-field class="col-5" appearance="fill" required>
                            <mat-label>Mesto</mat-label>
                            <input matInput type="text" formControlName="mestoPrebivalistaDostavljanje">
                        </mat-form-field>
                    </div>
                </div>

                <div class="border" style="padding: 10px;">
                    <h4>Nacin dostavljanja</h4>
                    <div class="row">
                        <div class="col-4">
                            <mat-checkbox class="zaj-pred-checkbox" (change)="viaMail()">Elektronskim putem</mat-checkbox>
                        </div>
                        <div class="col-4">
                            <mat-checkbox class="zaj-pred-checkbox" (change)="viaPapir()">U papirnoj formi</mat-checkbox>
                        </div>
                    </div> 
                </div>
                
                
                
                <div class="text-center buttons-cont">
                    <button mat-button matStepperPrevious class="stepper-btn">Nazad</button>
                    <button mat-button matStepperNext class="stepper-btn">Sledece</button>
                </div>
                
            </form>
        </mat-step>

        <mat-step [stepControl]="ostaloVrsta" label="Vrsta Prijave">
            <form [formGroup]="ostaloVrsta">
                <div class="border" style="padding: 10px;">
                    <h4>Vrsta prijave</h4>
                    <div class="row">
                        <div class="col-4">
                            <mat-checkbox class="zaj-pred-checkbox" (change)="additionalEntry()">Dopunska</mat-checkbox>
                        </div>
                        <div class="col-4">
                            <mat-checkbox class="zaj-pred-checkbox" (change)="separateEntry()">Izdvojena</mat-checkbox>
                        </div>
                    </div>

                    <div class="row">
                        <mat-form-field class="col-4" appearance="fill" required>
                            <mat-label>Broj prvobitne prijave</mat-label>
                            <input matInput type="text" formControlName="brojPrvobitnePrijave">
                        </mat-form-field>
                        <mat-form-field class="col-4" appearance="fill" required>
                            <mat-label>Datum podnosenja prvobitne prijave</mat-label>
                            <input matInput type="date" formControlName="datumPodnosenjaPrvobitnePrijave">
                        </mat-form-field>
                    </div>
                </div>

                <div class="text-center buttons-cont">
                    <button mat-button matStepperPrevious class="stepper-btn">Nazad</button>
                    <button mat-button (click)="saveChanges(); onSubmitBtnClick();" class="stepper-btn">Posalji zahtev</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="ostaloRanije" label="Ranije">
            <div>
                <form [formGroup]="ostaloRanije">
                    <div class="border" style="padding: 10px;">
                        <h4>Zahtev za priznanje prava prvenstva iz ranijih prijava</h4>
                            <div class="border" style="padding: 10px;">
                                <div class="input-row">
                                <mat-form-field class="col-4 m-1" appearance="fill" required>
                                    <mat-label>Datum podnosenja prvobitne prijave</mat-label>
                                    <input class="row-input" matInput type="date" formControlName="datumPodnosenjaPrvobitnePrijave">
                                </mat-form-field>

                                <mat-form-field class="col-4 m-1" appearance="fill" required>
                                    <mat-label>Broj ranije prijave</mat-label>
                                    <input class="row-input" matInput type="text" formControlName="brojPrvobitnePrijave">
                                </mat-form-field> 

                                <mat-form-field class="col-2 m-1" appearance="fill" required>
                                    <mat-label>Dvoslovna oznaka drzave</mat-label>
                                    <mat-select formControlName="dvoslovnaOznakaDrzave">
                                    <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <button class="add-button" (click)="addNewInput()">Dodaj raniju prijavu</button>
                        <div class="item-table">
                            <h3>Dodate prijave:</h3>
                            <table class="item-table__table">
                              <tr>
                                <th class="item-table__header">Datum podnošenja prvobitne prijave</th>
                                <th class="item-table__header">Broj prvobitne prijave</th>
                                <th class="item-table__header">Dvoslovna oznaka države</th>
                              </tr>
                              <tr *ngFor="let item of items">
                                <td>{{ item.datumPodnosenjaPrvobitnePrijave }}</td>
                                <td>{{ item.brojPrvobitnePrijave }}</td>
                                <td>{{ item.dvoslovnaOznakaDrzave }}</td>
                              </tr>
                            </table>
                        </div>
                          
                          
                    
                    <div class="text-center buttons-cont">
                        <button mat-button matStepperPrevious class="stepper-btn">Nazad</button>
                        <button mat-button (click)="saveChanges(); onSubmitBtnClick();" class="stepper-btn">Posalji zahtev</button>
                    </div>

                </form>
            </div>
        </mat-step>

    </mat-stepper>
</div>
