<div class="menu-holder">
    <span *ngIf="activeRole === 'NOT LOGGED'">
        <button mat-button (click)="onLoginBtnClick()">ULOGUJTE SE</button>
        <button mat-button (click)="onRegisterBtnClick()">REGISTRACIJA</button>
    </span>

    <span *ngIf="activeRole !== 'NOT LOGGED'">
        <button mat-button (click)="onProfileBtnClick()">KORISNIK</button>
    </span>

    <span *ngIf="activeRole !== 'NOT LOGGED'">
        <button mat-button [matMenuTriggerFor]="aboveMenu">SERVIS ZA ZIG</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item (click)="onBasicSearchBtnClick()">Osnovna pretraga</button>
            <button mat-menu-item (click)="onAdvancedSearchBtnClick()">Napredna pretraga</button>
            <button *ngIf="activeRole === 'REGULAR'" mat-menu-item (click)="onNewTrademarkReqBtnClick()">Novi zahtev za zig</button>
            <button *ngIf="activeRole === 'OFFICIAL'" mat-menu-item (click)="onPendingTrademarkReqsBtnClick()">Neobradjeni zahtevi</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="aboveMenu2">SERVIS ZA PATENT</button>
        <mat-menu #aboveMenu2="matMenu" yPosition="above">
            <button mat-menu-item (click)="onBasicSearchPTBtnClick()">Osnovna pretraga</button>
            <button mat-menu-item (click)="onAdvancedSearchPTBtnClick()">Napredna pretraga</button>
            <button *ngIf="activeRole === 'REGULAR'" mat-menu-item (click)="onNewPatentReqBtnClick()">Novi zahtev za patent</button>
            <button *ngIf="activeRole === 'REGULAR'" mat-menu-item (click)="onNewPatentXonomyReqBtnClick()">Novi zahtev za patent (xonomy)</button>
            <button *ngIf="activeRole === 'OFFICIAL'" mat-menu-item (click)="onPendingPatentReqsBtnClick()">Neobradjeni zahtevi</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="aboveMenu3">SERVIS ZA AUTORSKA PRAVA</button>
        <mat-menu #aboveMenu3="matMenu" yPosition="above">
            <button mat-menu-item (click)="onBasicSearchCRBtnClick()">Osnovna pretraga</button>
            <button mat-menu-item (click)="onAdvancedSearchCRBtnClick()">Napredna pretraga</button>
            <button *ngIf="activeRole === 'REGULAR'" mat-menu-item (click)="onNewCopyRightReqBtnClick()">Novi zahtev za autorsko pravo</button>
            <button *ngIf="activeRole === 'OFFICIAL'" mat-menu-item (click)="onPendingCopyRightReqsBtnClick()">Neobradjeni zahtevi</button>
        </mat-menu>


    </span>

    <span *ngIf="activeRole !== 'NOT LOGGED'">
        <button mat-button (click)="onLogOutBtnClick()">IZLOGUJTE SE</button>
    </span>
</div>
