<div class="row search-form">
    <div class="col-3"></div>
    <div class="col text-center">
        <mat-form-field>
            <input matInput [(ngModel)]="searchQuery" placeholder="Search">
        </mat-form-field>
        <button mat-icon-button color="primary" type="submit" (click)="performBasicSearch()">
            <mat-icon>search</mat-icon>
        </button>
        <p><b>Pomoc:</b><i> Parametri pretrage su reci ili izrazi odvojeni navodnicima ("rec/izraz1" "rec/izraz2" itd.)</i></p>
    </div>
    <div class="col-3"></div>
</div>

<div class="row table-cont" *ngIf="searchResult.length !== 0">
    <div class="col-3"></div>
    <div class="col">
        <h1 class="text-center">REZULTAT OSNOVNE PRETRAGE</h1>    
        <app-trademark-list [trademarks]="searchResult"></app-trademark-list>
    </div>
    <div class="col-3"></div>
</div>