
<div class="grid-container">
    <div class="row">
        <div class="col"></div>
        
        <div class="col">
            <div class="row">
                <div class="col-2"></div>
                <form class="col form-holder" >
                    <div class="row">
                        <p class="form-title">Prijava na sistem</p>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Email adresa</mat-label>
                            <input matInput type="email">
                        </mat-form-field>
                    </div>
        
                    <div class="row">
                        <mat-form-field class=col>
                            <mat-label>Lozinka</mat-label>
                            <input matInput type="password" >
                        </mat-form-field>
                    </div>
        
                    <div class="row">
                        <button mat-button >Prijavite se</button>
                    </div>
                </form>
                <div class="col-2"></div>
            </div>
        </div>

        <div class="col"></div>
    </div>  
</div>
