<div class="grid-container">
    <div class="row">
        <div class="col"></div>
        
        <form class="col form-holder" >
            <div class="row">
                <p class="form-title">Forma za prikaz i izmenu zahteva za priznanje ziga</p>
            </div>

            <label class="subform-title">Podaci o podnosiocu zahteva</label>
            <div class="row subform">

                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>Ime i prezime/poslovno ime</mat-label>
                        <input matInput type="text" >
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col-9>
                        <mat-label>Ime ulice</mat-label>
                        <input matInput type="text" >
                    </mat-form-field>
                    <mat-form-field class=col-3>
                        <mat-label>Broj ulice</mat-label>
                        <input matInput type="number" min="1">
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field class=col-3>
                        <mat-label>Postanski br.</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class=col-5>
                        <mat-label>Mesto</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class=col-4>
                        <mat-label>Drzava</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>Telefonski broj</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>E-mail adresa</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>Faks</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>

            </div>

            <label class="subform-title">Podaci o punomocniku</label>
            <div class="row subform">

                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>Ime i prezime/poslovno ime</mat-label>
                        <input matInput type="text" >
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col-9>
                        <mat-label>Ime ulice</mat-label>
                        <input matInput type="text" >
                    </mat-form-field>
                    <mat-form-field class=col-3>
                        <mat-label>Broj ulice</mat-label>
                        <input matInput type="number" min="1">
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field class=col-3>
                        <mat-label>Postanski br.</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class=col-5>
                        <mat-label>Mesto</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class=col-4>
                        <mat-label>Drzava</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>Telefonski broj</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>E-mail adresa</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>Faks</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>

            </div>

            <label class="subform-title">Podaci o zajednickom predstavniku</label>
            <div class="row subform">

                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>Ime i prezime/poslovno ime</mat-label>
                        <input matInput type="text" >
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col-9>
                        <mat-label>Ime ulice</mat-label>
                        <input matInput type="text" >
                    </mat-form-field>
                    <mat-form-field class=col-3>
                        <mat-label>Broj ulice</mat-label>
                        <input matInput type="number" min="1">
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field class=col-3>
                        <mat-label>Postanski br.</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class=col-5>
                        <mat-label>Mesto</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field class=col-4>
                        <mat-label>Drzava</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>Telefonski broj</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>E-mail adresa</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class=col>
                        <mat-label>Faks</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>

            </div>

            <label class="subform-title">Podaci o zigu</label>
            <div class="row subform">

                <div class="row">
                    <div class="col">
                        <label class="radio-group-label">Izaberite tip ziga:</label>
                        <div>
                            <mat-radio-group class="row">
                                <mat-radio-button value="1">Individualni zig</mat-radio-button>
                                <mat-radio-button value="2">Kolektivni zig</mat-radio-button>
                                <mat-radio-button value="3">Zig garancije</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
    
                    <div class="col">
                        <label class="radio-group-label">Izaberite tip znaka:</label>
                        <mat-radio-group class="row">
                            <mat-radio-button value="1">Verbalni znak</mat-radio-button>
                            <mat-radio-button value="2">Graficki znak</mat-radio-button>
                            <mat-radio-button value="3">Kombinovani znak</mat-radio-button>
                            <mat-radio-button value="4">Trodimenzionalni znak</mat-radio-button>
                            <mat-radio-button value="5">Druga vrsta znaka</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="row">
                    <mat-card class="trademark-card">
                        <mat-card-header class="radio-group-label">Slika ziga:</mat-card-header>
                        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                    </mat-card>
                </div>
            </div>

            <div class="row">
                <button mat-button>Potvrda registracije</button>
            </div>
        </form>

        <div class="col"></div>
    </div>  
</div>
